.gradle/*
build/*
/build/
.idea/*
.idea/workspace.xml
*.settings
./**/target
/target/
target

/out/
/build/
*.classpath
/bin/
*.iml
sh.exe.stackdump
.project
!gradle/wrapper/gradle-wrapper.jar


algo-engine-api/out
algo-engine-biz/out

algo-engine-api/build
algo-engine-biz/build
